@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body{
  overflow: hidden;
}
:root {
  --primaryColor: #062c30;
  --secondaryColor: #05595b;
  --yellow: #e2d784;
  --white: #f5f5f5;
  --black: #000;
  --codeEditorColor :#282a36;
}
img {
  max-width: 100%;
  height: auto;
}
.CodeMirror {
  height: 100vh !important;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.transform{
  transform: translateY(0px);
}
.transformZero{
  transform: translateY(355px);
}
iframe{
  background-color: white;
}